@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Keizen</h1>
    <p class="lead">Keizen Enterprises</p>
    <p><a href="#" class="btn btn-primary btn-lg">About Keizen &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Power Plants</h2>
        <p>
            Energy Management Systems (EnMS)
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>IT(Software) Implementation</h2>
        <p>Java</p>
        <p>.Net Framework</p>
        <p>Oracle</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>PGP</h2>
        <p>PGP Professional Grooming Programming</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>